body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.scorecard {
  width: 70vw;
  height: 5rem;
  display: flex;
  border: 1px solid black;
  position: relative;
}
.scorecard .header {
  height: 1rem;
  background-color: #cdd0d4;
  font-weight: 600;
  border: 1px solid black;
  padding: 0.2rem;
  text-align: center;
  text-justify: center;
}
.scorecard .name-box {
  width: 6rem;
  height: 100%;
  border: 1px solid black;
}
.scorecard .score-header {
  width: 5rem;
}
.scorecard .score-cell {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  height: 100%;
  margin-top: -1px;
  margin-left: -1px;
}
.scorecard .roll-boxes {
  position: absolute;
  top: 1.5rem;
  left: 2.9rem;
  display: flex;
}
.roll-boxes .first-roll {
  width: 1.5rem;
  height: 1rem;
  border: 1px solid black;
}
.roll-boxes .roll {
  width: 1.2rem;
  height: 1.6rem;
  border: 1px solid black;
}
.roll-final-box {
  position: absolute;
  top: 1.5rem;
  left: 1.6rem;
  display: flex;
}

.roll-final {
  width: 1.2rem;
  height: 1.6rem;
  border: 1px solid black;
}
.total {
  border: 1px solid black;
}
.name-input {
  width: 90%;
}
.name-button {
  width: 90%;
}

.score-input {
  display: flex;
  justify-content: center;
  height: 20vh;
}
.input-table {
  width: 15vw;
  margin-top: 5rem;
  height: 100%;
  border-radius: 3px;
}
.input-cell {
  border: 1px solid black;
  text-align: center;
}
.input-cell:hover {
  background-color: #8db6f7;
  border: 1px solid #5984c9;
}
table {
  border-collapse: collapse;
}
